* {
    background-color: bisque;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    border-radius: 20%;

    animation-name: espin;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes espin {
    0%{

    }
    100%{
        transform: rotate(360deg);
    }
    
}